/* Your CSS Code here. */
img {
      height: 100px;
      width: 100px;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* grid-template-rows: repeat(4, auto); */
      /* height: 400px; */
      /* align-items: center; */
		gap: 5px;
      grid-template-areas:
        "a1 a2 a3 a4 a5 a6 a7 a8 a9 a10 a11 a12"
        "b1 b1 b2 b2 b3 b3 b4 b4 b5 b5 b6 b6"
        "c1 c1 c1 c1 c2 c2 c2 c2 c3 c3 c3 c3"
        "d1 d1 d1 d1 d1 d1 d1 d1 d1 d1 d1 d1";
    }
/*     .box, .container {
      border: 2px solid greenyellow;
    } */
    .box:nth-child(1) {
      grid-area: a1;
    }
    .box:nth-child(2) {
      grid-area: a2;
    }
    .box:nth-child(3) {
      grid-area: a3;
    }
    .box:nth-child(4) {
      grid-area: a4;
    }
    .box:nth-child(5) {
      grid-area: a5;
    }
    .box:nth-child(6) {
      grid-area: a6;
    }
    .box:nth-child(7) {
      grid-area: a7;
    }
    .box:nth-child(8) {
      grid-area: a8;
    }
    .box:nth-child(9) {
      grid-area: a9;
    }
    .box:nth-child(10) {
      grid-area: a10;
    }
    .box:nth-child(11) {
      grid-area: a11;
    }
    .box:nth-child(12) {
      grid-area: a12;
    }

    .box:nth-child(13) {
      grid-area: b1;
      justify-self: center;
    }
    .box:nth-child(14) {
      grid-area: b2;
      justify-self: center;
    }
    .box:nth-child(15) {
      grid-area: b3;
      justify-self: center;
    }
    .box:nth-child(16) {
      grid-area: b4;
      justify-self: center;
    }
    .box:nth-child(17) {
      grid-area: b5;
      justify-self: center;
    }
    .box:nth-child(18) {
      grid-area: b6;
      justify-self: center;
    }

    .box:nth-child(19) {
      grid-area: c1;
      justify-self: center;
    }
    .box:nth-child(20) {
      grid-area: c2;
      justify-self: center;
    }
    .box:nth-child(21) {
      grid-area: c3;
      justify-self: center;
    }

    .box:nth-child(22) {
      grid-area: d1;
      justify-self: center;
    }